<h1>Login</h1>
<div>
<%= form_for login_path, method: :post do |f| %>
  <%= f.text_field :email %>
  <%= f.label :email %>
</div>
<div>
  <%= f.password_field :password %>
  <%= f.label :password %>
</div>

  <%= f.submit "Log in", class: "btn-success" %>
<% end %>