<div class="editAccount">
  <h1>Edit your Account!</h1>
  <%= form_for @user, html: { class: 'form-inline', role: 'form' } do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">@</div>
      <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
    </div>
  </div>
  <%= f.submit "Update Account", class: 'btn btn-default' %>
  <% end %>
</div>
<%= link_to "Delete your account", user_path(@user), method: :delete %>