<div class='user-image'>
  <%= image_tag @user.gravatar_url %>
  <h4><%= @user.email %></h4>
</div>

<div class='writing-prompt'>
  <h2>Daily Writing Prompt</h2>
  <%= @prompt.prompt %>
</div>

<div>
  <h3>Past Projects</h3>
  <% @past_projects.each do |project| %>
    <%= project.title %>
  <% end %>
  <h3>Current Project</h3>
  <%= @current_project.title %> (Your current project!)
</div>

<div class='quotes'>
  <h4><%= @quote.quote %></h4>
  <p>-- <%= @quote.quoter %></p>
</div>
