<div class="container-fluid">
  <div class="row">
    <div class='user-image col-md-12'>
      <h1>WriteNow</h1>
      <%= image_tag @user.gravatar_url %>
      <h4><%= @user.email %></h4>
    </div>
  </div>
  <div class="row">
    <div class="current-projects col-md-6">
      <h3>Current Project</h3>
      <% if @user.active_projects? %>
      <h5><%= @current_project.title %></h5>
      <% else %>
      <h5>No active projects</h5>
      <% end %>
    </div>
    <div class="current-projects col-md-6">
      <% if @past_projects %>
      <div class="past-projects">
        <h3>Past Projects</h3>
        <% @past_projects.each do |project| %>
        <h5><%= project.title %></h5>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <hr class='projectDivider' />
  <div class="row">
    <div class="col-md-6">
      <div class="badges">
        <h3>Achievements</h3>
        <h5><%= @badges.first.badge_name %></h5>
      </div>
    </div>
    <div class='writing-prompt col-md-6'>
      <h3>Daily Prompt</h3>
      <h5><%= @prompt.prompt %></h5>
    </div>
  </div>
  <hr class='projectDivider' />
  <div class='quotes'>
    <h4><%= @quote.quote %></h4>
    <p>-- <%= @quote.quoter %></p>
  </div>
</div>