<h2>Title: <%= @project.title %></h2>
<h3>Goal wordcount: <%= @project.wordcount_goal %></h3>
<h3>Words left: <%= @words_left %></h3>

<% if @project.pace_unit == 'hour' %>
  <h3>Hours left: <%= @project.hours_until_deadline %></h3>
<% else %>
  <h3>Goal date: <%= @project.goal_deadline_date %></h3>
  <h3>Days left: <%= @days_left %></h3>
<% end %>

<h3>Pace needed: <%= @pace_needed %> words per <%= @pace_unit %></h3>
<%= link_to "Edit Project", edit_user_project_path(:user_id => current_user.id, :id => @project.id) %>

<%= link_to "Delete Project", user_project_path(:user_id => current_user.id, :id => @project.id), :method => :delete %>

<%= render partial: 'projects/new_current_wordcount' %>