<div>
  <h1>Edit your Project!</h1>
  <%= form_for [@user, @project], url: user_project_path(@user, @project), method: :patch, html: { id: 'updateProject', class: 'form-inline', role: 'form' } do |f| %>
  <div class="form-group">
    <div class="input-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <%= f.label :wordcount_goal, "Wordcount Goal" %>
      <%= f.text_field :wordcount_goal, class: 'form-control', placeholder: 'wordcount goal' %>
    </div>
  </div>

  <% if @goal_field == :days %>
  <%=  render partial: 'days', locals: { f: f } %>
  <% else %>
  <%=  render partial: 'hours', locals: { f: f } %>
  <% end %>

  <%= f.submit "Edit Project!", class: 'btn btn-default' %>
  <% end %>
</div>