<!-- CR - with form_for you shouldn't need the url or method in a RESTful route -->
<%= form_for [@user, @project], url: user_projects_path(@user), method: :post do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :wordcount_goal, "Wordcount Goal" %>
  <%= f.text_field :wordcount_goal %>
  <div class="unitToggle">
    <button class="toggleDeadlineUnitHours">Hours</button>
    <button class="toggleDeadlineUnitDate">Date</button>
  </div>
  <%= f.submit "Create Project!" %>
<% end %>
