<%= form_for [@user, @project] do |f| %>
  <div>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: "form-control" %>
  </div>

  <div>
  <%= f.label :wordcount_goal, "Wordcount Goal" %>
  </div>

  <div>
  <%= f.text_field :wordcount_goal %>
  </div>

  <div class="unitToggle">
    <%= f.label "Deadline:" %>
    <div>
    <button class="toggleDeadlineUnitHours btn-primary">Hours</button>
    </div>
    <button class="toggleDeadlineUnitDate btn-primary">Date</button>
  </div>

  <%= f.submit "Create Project!", class: "btn-success" %>
<% end %>

<script type="text/javascript">
  $('.toggleDeadlineUnitDate').on('click', function(e) {
    e.preventDefault();
    $(this).replaceWith("<label for='project_goal_deadline_date'>Goal Deadline Date</label><input type='date' name='project[goal_deadline_date]' id='project_goal_deadline_date'></input>");
    $('.toggleDeadlineUnitHours').remove();
  });

  $('.toggleDeadlineUnitHours').on('click', function(e) {
    e.preventDefault();
    $(this).replaceWith("<label for='project_goal_time_limit'>Goal Time Limit</label> <input type='text' name='project[goal_time_limit]' id='project_goal_time_limit'></input> <label>hours</label>");
    $('.toggleDeadlineUnitDate').remove();
  });
</script>