<%= form_for [@user, @project] do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :wordcount_goal, "Wordcount Goal" %>
  <%= f.text_field :wordcount_goal %>
  <div class="unitToggle">
    <button class="toggleDeadlineUnitHours">Hours</button>
    <button class="toggleDeadlineUnitDate">Date</button>
  </div>
  <%= f.submit "Create Project!" %>
<% end %>

<script type="text/javascript">
  $('.toggleDeadlineUnitDate').on('click', function(e) {
    e.preventDefault();
    $(this).replaceWith("<label for='project_goal_deadline_date'>Goal Deadline Date</label><input type='date' name='project[goal_deadline_date]' id='project_goal_deadline_date'></input>");
    $('.toggleDeadlineUnitHours').remove();
  });

  $('.toggleDeadlineUnitHours').on('click', function(e) {
    e.preventDefault();
    $(this).replaceWith("<label for='project_goal_time_limit'>Goal Time Limit</label> <input type='text' name='project[goal_time_limit]' id='project_goal_time_limit'></input> <label>hours</label>");
    $('.toggleDeadlineUnitDate').remove();
  });
</script>